body {
  min-height: 800px;
  border: 8px solid black;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  height: 13.5vw;
  width: 13.5vw;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40pt;
}
